.footer{
  background: var(--preto-claro);
  
}

.footer-container{
  max-width: 75rem;
  padding: 7.5rem 1.25rem 3.75rem 1.25rem;
  margin: 0rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-items: center;
  position: relative;
}

.footer-container::before{
  content: '';
  display: block;
  width: 8.125rem;
  height: 6.25rem;
  background: url("../img/deco.svg") no-repeat center;
  position: absolute;
  top: -3.125rem;
  left: 1.25rem;
}

.footer-texto{
  font-size: 1.25rem;
  line-height: 1.33;
  color: var(--cinza-claro4);
}

.footer-contato li{
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: var(--white);
  margin-bottom: 1.875rem;
  position: relative;
  align-items: center;
  display: flex;
  gap: .3125rem;
  align-items: center;
}

.icon-contato{
  width: 1.5625rem;
  height: 1.5625rem;
}

.size-margin-icon{
  margin-left: 5px;
  width: 25px;
}

.footer-contato li a{
  color: var(--white);
}

.footer-copy{
  font-size: 1.125rem;
  grid-column: 1 / -1;
  color: var(--cinza-claro5);
  position: relative;
}

@media (max-width: 50rem){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-contato li{
    font-size: 1.25rem;
    margin-left: 2.5rem;
  }
  .footer-contato li::before{
    top: -0.1875rem;
  }
}

@media (min-width: 1440px){
  .footer-contato li{
    font-size: 25px;
  }

  .icon-contato{
    width: 30px;
    height: 30px;
  }

  .footer-contato li:not(:first-child) .icon-contato{
    width: 33px;
    height: 33px;
    margin-top: 7px;
  }
}